In [2]:
import pandas as pd
import seaborn as sns
import pandas_profiling

In [4]:
df=pd.read_excel("C:\\Users\\Rishi Chaitanya\\Flight dataset\Data_Train.xlsx")
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

In [5]:
from pandas_profiling import ProfileReport
profile=ProfileReport(df,explorative = True,dark_mode=True)
profile.to_file('Flight.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]